<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet", href="{{url_for('static', filename='navbar.css')}}">
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/b32dc6af32.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="header">
            <form id="header-search-form">
                <input id="header-search-text" type="text" placeholder="Add link to a youtube video">
                    <button id="header-search-button" type="button"> 
                    <i class="fa-solid fa-magnifying-glass"></i> 
                    </button>
            </form>
    </header>
    <main>

    </main>
</body>
</html>